<!--"mt-auto" makes it so that THIS IS THE ONLY element that is adjusted-->
<footer class="footer py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2020</span>
    </div>
</footer>